header{
    height: 60px;
}
header img{
    height: 60px;
}
header form{
    width: 60%;
    justify-content: center;
}

header form input[type=text]{
width: 60%;
min-width: 129px;
outline: white;
height: 35px;
border:0;
}

header form input:focus{
border: 3px solid pink;
border-right: 0;
}

header input:focus + button{
    border: 3px solid pink;
    border-left: 0;
    height: 35px;
    width: 28px;

}

header form button{
    background-color: white;
    border: 0;
    height: 35px;
    width: 35px;
    outline: none;
    cursor: pointer;
}

header form button i.icone-pesquisa{

    height: 28px;
    width: 28px;

    background-size: 950px;
    background-position: -123.9px -2px ;
}
header i.icone-user{
  
margin:0 30px;
width: 35px;
height: 35px;

background-size: 1060px;

}

nav.menu{
    display: flex;
    justify-content: center;
    background-color: #011627;
    width: 100vw;
    position: fixed;
    top: calc(100vh - 60px);
    height: 60px;
}
nav.menu > ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100vw;

}

nav.menu > ul > li{
    display: flex;
    justify-content: center;
    text-align: center;
}
nav.menu > ul > li > a > i{
   display: block;
   margin: 0 auto; 
}
nav.menu > ul > li > a{
color:white;
width: calc(var(--ajuste)/3)
}

nav.menu > ul > li > a:hover{
background-color: purple
}

.user-menu .fechar{
    
    color: aliceblue;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left:calc(480px - 80px);
    z-index: 2;
}

/*notificacoes*/

.notificacoes ul::-webkit-scrollbar{
    display:none
}
nav.notificacoes{
    
    bottom: 60px;
    right: 0;
    
    width: 100vw;
  
}


nav.notificacoes ul{
    width: calc(100vw + 30px);
    height: calc(100vh - 160px);
    margin-right: -10px;
    padding-right: 3px;
    text-align: start;
}

nav.notificacoes ul li a{
width: 100vw;
}

.notificacoes.ativo{
    height: calc(100vh - 120px);
}

/*NÃO ALTERAR NADA DAQUI PARA CIMA*/

.perfil-base{
   background-color: white;
}


.perfil{
    height: 260px;
    justify-content: center;
}

.perfil > img{
    height: 56.23vw;
    max-height: 774px;
}


.perfil > div{
    margin-top: 150px;
    align-items: center;
    flex-direction: column-reverse;
}

.perfil div div{
    height: 150px;
    width: 150px;
    border: 6px solid white;
}

.perfil div div img{
    height: 135%;
}

.perfil-base p{
    margin-top: 40px;
    position: inherit;
   
    text-align: center;
    font-size: 1.8rem;
    color: black
}

.perfil div i{
    position: absolute;
    margin-right: -30px;
    margin-top: 60px;
}
       
/*pag todos debates*/

.criar-debate {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center
}

.criar-debate div {
    
    padding-right: 15px;
    height: 65px;
    width: 84%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.criar-debate p{
    width: 70%;
    height: 100%;
    margin-left: 10px;
    font-family: Arial;
    font-size: 16px;
    display: flex;
    align-items: center;
}
 .criar-debate i{
     background-size: 1700px;
     background-position: -661px -1.6px;
     width:53px;
     height: 55px;
     position: relative;
     display: flex;
     margin-left: 5px;
 }

 .criar-debate a{
     background-color: darkslateblue;
     color:white;
     width: 24%;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
    font-size: 13px;
     
 }

 .item-debate{
    background-color: white;
    width: 350px;
    height: 330px;
    border-radius: 4%;
    margin-top: 10px;
    margin-bottom: 100px;
    display: inline-block;
    
}

.item-debate .item-topo{
  
   display: flex;
   align-items: center;
   padding: 4px;
}

.item-debate .item-topo div{
 display: inline-block;
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
   background-color: green;
    
} 



.item-debate .item-topo p{
   display: inline-block;
   
   margin-left: 4px;
   font-size: 11px;
   font-weight: 600;
   margin-right: 66px;
}

.item-debate .item-topo span{
    display: block;
    font-family: Open-Sans-Bold;
    display: block;
    font-size: 15px;
    
    
}

.item-debate .item-topo img{
   height: 100px;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-40%);
}

.item-debate figure{
    overflow: hidden;
    width: 350px;
    height: 250px;
}

.item-debate figure img{
   align-self: center;
   height: 540px;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-40%);
   background-color: blueviolet
}

.item-debate > p{
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-size: 15px;
   width: 100%;
   height: 50px;
   background-color: rgba(000,000,000, 0.6);
   color: #E7E8EB;
   margin-top: -50px;
   position: relative;
  

}

.alinha-item{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 80%;
    align-content: stretch;
    margin-left: 10%;
    
    
}



/*pag todoas reclamacoes*/

#container{
    background-color: #E7E8EB;
}

.criar-publicacao {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center
}

.criar-publicacao div {
    
    padding-right: 15px;
    height: 65px;
    width: 84%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.criar-publicacao p{
    width: 70%;
    height: 100%;
    margin-left: 10px;
    font-family: Arial;
    font-size: 16px;
    display: flex;
    align-items: center;
}
 .criar-publicacao i{
     background-size: 1700px;
     background-position: -661px -1.6px;
     width:53px;
     height: 55px;
     position: relative;
     display: flex;
     margin-left: 5px;
 }

 .criar-publicacao a{
     background-color: darkslateblue;
     color:white;
     width: 29%;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
    font-size: 11px;
     
 }




.item-publicacao{
    background-color: white;
    width: 350px;
    height: 330px;
    border-radius: 4%;
    margin-top: 10px;
    margin-bottom: 100px;
    display: inline-block;
}

.item-publicacao .item-topo{
   
    display: flex;
    align-items: center;
    padding: 4px;
    justify-content: space-around;
}

 .item-publicacao .item-topo div{
  display: inline-block;
   width: 45px;
   height: 45px;
   overflow: hidden;
   border-radius: 50%;
     
 } 

 

 .item-publicacao .item-topo p{
    display: inline-block;
    
    margin-left: 4px;
    font-size: 11px;
    font-weight: 600;
    margin-right: 66px;
 }

 .item-publicacao .item-topo span{
     display: block;
     font-family: Open-Sans-Bold;
     display: block;
     font-size: 15px;
     
     
 }
 
 .item-publicacao .item-topo img{
    height: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
 }

.item-publicacao figure{
     overflow: hidden;
     width: 350px;
     height: 200px;
}

.item-publicacao figure img{
    align-self: center;
    height: 540px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
    background-color: blueviolet
}

 .item-publicacao > p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    width: 100%;
    height: 30px;
    margin-left: 5px;
    position: relative;
    font-family: arial;
    font-weight: bold;
 }




.item-baixo{
    width: 340px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-family: arial;
}
.item-baixo p{
   font-size: 17px;
   font-family: arial;
   display: flex;
   align-items: flex-end;
   width: 70%;
   height: 100%;
}

.item-baixo span{
    font-family: arial;
    font-size: 19px;
    display: flex;
    align-items: flex-start;
    color: #2E2E2E;
    
}
.item-baixo div{
    display: flex;
   align-items: baseline;
   justify-content: space-between;
}
.item-baixo i{
    width: 35px;
    height: 30px;
}

.item-baixo .icone-like{
    background-size: 1200px;
    background-position: -543px -1.6px;
}

.item-baixo .icone-comentario{
   background-size: 1200px;
   background-position: -697px -1.6px;
}

.item-baixo .icone-local{
   background-size: 1200px;
   background-position: -310px -1.6px;
}