
header{
    display: flex;
   
    height: 100px;
}
header img{
    height: 100px;
}
header form{
    margin: 0 2vw;
}

header form input[type=text]{
width: 24.2vw;
max-width: 400px;
outline: pink;
height: 40px;
border:0;
}

header input:focus + button{
  
    border-left: 0;
    height: 40px;
    width: 40px;

}

header form button{
    background-color: white;
    border: 0;
    height: 40px;
    width: 40px;
    outline: none;
    cursor: pointer;
}

header form button i.icone-pesquisa{

    height: 35px;
    width: 35px;

    background-size: 1090px;
    background-position: -139px -0px ;

}
header i.icone-user{

    margin:0 15px;

}

nav.menu{
    height: 100px;  
}

nav.menu > ul{
    display: flex;
    height: 100px;


}

nav.menu > ul > li{
    display: flex;
    
}


nav.menu > ul > li > a > i{
   
    top:8px;
    margin: 0 auto; 
    height: 35px;
    width: 35px;
    background-size: 1080px;
   
 
 
 }
 
 nav.menu > ul > li > a > i.icone-reclamacao{
    background-position: -34px -1.6px;
 
 }
 nav.menu ul li a i.icone-notificacao{
     background-position: -68px -1.6px;
 }
 nav.menu ul li a i.icone-debate{
     background-position: -102px -1.6px;
     
 }


 nav.menu > ul > li > a > i > span{

    margin: -7px 14px 0px -3px;
}


nav.menu > ul > li > a{


font-weight: 500;
color:white;
padding: 0 6px;

line-height: 100px;
}

nav.menu > ul > li > a:hover{
background-color: purple
}


.user-menu .fechar{
    
    color: aliceblue;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left:calc(480px - 80px);
    z-index: 2;
}

.user-menu .fechar{
    
    color: aliceblue;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left:calc(480px - 80px);
    z-index: 2;
}


/*notificacoes*/
.notificacoes{
    top: 100px;
}
.notificacoes.ativo{
    height: 50vh;
}