
body{
    background-color: white
}

header{
    display: flex;
   
    height: 100px;
}
header img{
    height: 80px;
    margin-left: 10px;
    margin-top: 10px;
}
header form{
    margin: 0 2vw;
}

header form input[type=text]{
width: 24.2vw;
max-width: 400px;
outline: pink;
height: 40px;
border:0;
}

header input:focus + button{
  
    border-left: 0;
    height: 40px;
    width: 40px;

}

header form button{

    border: 0;
    height: 40px;
    width: 40px;
    outline: none;
    cursor: pointer;
}

header form button i.icone-pesquisa{

    height: 35px;
    width: 35px;

    background-size: 1090px;
    background-position: -139px -0px ;

}
header i.icone-user{

    margin:0 15px;

}

nav.menu{
    height: 100px;  
}

nav.menu > ul{
    display: flex;
    height: 100px;


}

nav.menu > ul > li{
    display: flex;
    
}


nav.menu > ul > li > a > i{
   
top:8px;
   
margin: 0 auto;
   
min-height: 35px;
   
min-width: 35px;
   
background-size: 3507%;
   
/* background-color: red; */
 }
 
 nav.menu > ul > li > a > i.icone-reclamacao{
    background-position: -117px 0.4px;
    /* background-size: 3400%; */
 }
 nav.menu ul li a i.icone-notificacao{
     background-position: -150px 0.4px;
 }
 nav.menu ul li a i.icone-debate{
     background-position: -185px 0.4px;
 }


 nav.menu > ul > li > a > i > span{

    margin: -7px 14px 0px -3px;
}


nav.menu > ul > li > a{


font-weight: 500;
color:#fcfcfc;
padding: 0 6px;

line-height: 100px;
}

nav.menu > ul > li > a:hover{
background-color: #004C41;
color:white;  
}

nav.menu > ul > li > a:hover i{
    background-position-y: -35px;
}

.clicado

nav.menu > ul > li > a:hover #quantidade_de_not{
    background-color: #253137;
}


.user-menu .fechar{
    
    color: aliceblue;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left:calc(480px - 80px);
    z-index: 2;
}

.user-menu .fechar{
    color: aliceblue;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left:calc(480px - 80px);
    z-index: 2;
}


/*notificacoes*/
.notificacoes{
    top: 100px;
}
.notificacoes.ativo{
    height: 50vh;
}


/*NÃO ALTERAR NADA DAQUI PARA CIMA*/


.perfil{
    height: 350px;
    justify-content: flex-end;
    position: relative;
}

.perfil > img{
    /* height: 56.23vw;
    max-height: 774px; */
}


.perfil-info{
    margin-top: 150px;
    padding-right: 40px;
    align-items: center;
    bottom: 3px
}

.perfil-info div{
    height: 180px;
    width: 180px;
    border: 8px solid white;
}

.perfil-info div img{
    /* height: 140%; */
}


.perfil-info p{
    top: 370px;
    right: 0;
    color: aliceblue;
    font-size: 1.8rem;
    text-shadow: 0px 0px 10px black;
    margin-right:10px
}

#config p{
    text-shadow: 0px 0px 20px white
}

.perfil-base div div span{
    font-size: 1.5em;
    text-shadow: 0px 0px 30px black
}

.perfil-base h3{
    position: absolute;
    left: 0;
    color: aliceblue;
    font-size: 29px;
    margin: 30px 0px 0px 40px;
    z-index: 1
}
/*pag todos debates*/

.item-publicacao{
    width: 340px;
    margin: 10px;
}


 
.formulario{
    flex-wrap: wrap;
    justify-content: space-between; 
}

#abrir-contatos{
    display: none
}

.item-baixo .icone-local{
    background-size: 1200px;
    background-position: -310px -1.6px;
}

/*pag admin*/

/*filtro*/




/*tabela admin*/

.tabelinha-admin table td p {
    width: 250px;
}



.comentarios .comentario-user:last-child::after{
    content: ' ';
    height:115px
}

.prefeitura-publicacao .topo-prefeitura-publicacao{
    margin-top: 20px
}

.salvos h4 {
    color: #000;
  
}

.gamb{
    width: 100vw !important;
    max-width: 390px
}