header{
    height: 60px;
}
header img{
    height: 60px;
}
header form{
    width: 60%;
    justify-content: center;
}

header form input[type=text]{
width: 60%;
min-width: 129px;
outline: white;
height: 35px;
border:0;
}

header form input:focus{
border: 3px solid pink;
border-right: 0;
}

header input:focus + button{
    border: 3px solid pink;
    border-left: 0;
    height: 35px;
    width: 28px;

}

header form button{
    background-color: white;
    border: 0;
    height: 35px;
    width: 35px;
    outline: none;
    cursor: pointer;
}

header form button i.icone-pesquisa{

    height: 28px;
    width: 28px;

    background-size: 950px;
    background-position: -123.9px -2px ;
}
header i.icone-user{
  
margin:0 30px;
width: 35px;
height: 35px;

background-size: 1060px;

}

nav.menu{
    display: flex;
    justify-content: center;
    background-color: #011627;
    width: 100vw;
    position: fixed;
    top: calc(100vh - 60px);
    height: 60px;
}
nav.menu > ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100vw;

}

nav.menu > ul > li{
    display: flex;
    justify-content: center;
    text-align: center;
}
nav.menu > ul > li > a > i{
   display: block;
   margin: 0 auto; 
}
nav.menu > ul > li > a{
color:white;
width: calc(var(--ajuste)/3)
}

nav.menu > ul > li > a:hover{
background-color: purple
}

.user-menu .fechar{
    
    color: aliceblue;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left:calc(480px - 80px);
    z-index: 2;
}

/*notificacoes*/

.notificacoes ul::-webkit-scrollbar{
    display:none
}
nav.notificacoes{
    
    bottom: 60px;
    right: 0;
    
    width: 100vw;
  
}


nav.notificacoes ul{
    width: calc(100vw + 30px);
    height: calc(100vh - 160px);
    margin-right: -10px;
    padding-right: 3px;
    text-align: start;
}

nav.notificacoes ul li a{
width: 100vw;
}

.notificacoes.ativo{
    height: calc(100vh - 120px);
}

/*NÃO ALTERAR NADA DAQUI PARA CIMA*/

.perfil-base{
   background-color: white;
   padding-bottom: 90px
}


.perfil{
    height: 260px;
    justify-content: center;
}

.perfil > img{
    height: 56.23vw;
    max-height: 774px;
}


.perfil > div{
    margin-top: 150px;
    align-items: center;
    flex-direction: column-reverse;
    
}

.perfil div div{
    height: 150px;
    width: 150px;
    border: 6px solid white;
    
}

.perfil div div img{
    height: 135%;
}




.perfil-base div div p{
  
   
    text-align: center;
    font-size: 1.8rem;
    color: black;
    margin: 0px auto 0 auto;
}

.perfil-base div div span{

    
    color: black;
    font-size: 1em;
    margin: 0px auto 0 auto;
    text-align: center
}

.perfil div i{
    position: absolute;
    margin-right: 30px;
    margin-top: 40px;
}



.perfil-base h3{
  position: absolute;
    color: aliceblue;
    font-size: 29px;
   margin-top: 30px;
   margin-left: 15px;
    }

       
/*pag todos debates*/


.criar-publicacao p{
    font-size: 16px;
}

.item-publicacao{
    width: 340px;
}

.alinha-item{
   
    width: 100%;
    flex-flow: column wrap;
    align-items: center;

}
/*pag todoas reclamacoes*/

.formulario{
    flex-direction: column;
    align-items: center; 
    padding: 0 0 70px 0;
}


.formulario h3{
    font-size: 16px;
    
}

.formulario hr{
   
    border: 2px solid purple;
    position: relative;
    bottom: 10px
}
.formulario .campo-envio{
    width: 80%;
    margin: 0 auto
}
.informacoes{
    width: 100%;
    }
.informacoes hr{
    margin-top: 13px;
    width: 40%;
    margin:13px auto 0 auto;

}

.informacoes label{
    font-size: 15px;
    padding: 13px 0px;
}

.informacoes input{
    font-size: 15px;
}

.informacoes h3{
    margin-top: 5%;
   
}
    
.imagem{
    width: 100%;
    }

.imagem h3{
    margin-top: 13px;
    
    }
.imagem hr{
    width: 50%;
    margin:13px auto 0 auto;;
}


.campo-texto{   
    width: 100%;
    text-align: center;   
}

.form-icone section{
    
    align-items: baseline
}


.form-icone section > div{
    width: 100%;
    display: block;
    text-align: center;
    margin:  auto;
   
    margin-bottom: 10px;


}
.form-icone section h1{
    
    font-size: 30px;
    
}

.form-icone section p{
 
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-shadow: 1px 1px 1px black
    
}

.campo-texto h3{
    margin-top: 13px;
    width: 70%;
    margin:13px auto 0 auto;
}

.form-icone form{
    position: initial;
    width:300px;
    height: 280px;
    margin: 0;
    
   
}

.form-icone form h3{
    width: 213px;
    
}


.form-icone form button{
   
    padding:10px;
    margin-top: 40px;
    width: 80%;
    font-weight:800;
    
}

.form-config{
    padding-bottom: 70px
}

.form-config .campo-texto-config label{
    font-size: .85em;
}

.form-config h3{
font-size: 1.1em;
}

/*DEBATES*/

.usuarios-debate-info{
    position: absolute;
    right: 0;
    width: 0;
    max-width: 100%;
    
   
}

.usuarios-debate-info > span{
    left: 90%;
}

.contatos{
    position: absolute;
    width: 0;
    right: 0;
    background-color: white;
    overflow: hidden;
    order: 2;
   transition: 0.5s;
    max-width: 100%;
    min-width: 0;
    display: block
}



.contatos nav{
    height: calc(100vh - 60px);
}

.contatos header p{
    display:block
}

.contatos header h3{
    white-space: nowrap
}


.batepapo header h4{
    font-size: 15px
}

.batepapo header div:first-child{
    width: 50px;
    height: 50px;
}

.mensagens{
    height: calc(100vh - 120px);
}

.mensagem_padrao span.nome{
   
    font-size: .95em;
}

.mensagem_padrao span.nome{
    
    font-size: .95em;
}
.mensagem_padrao {  /*POR CAUSA DO NOME TA BUGANDO*/
    max-width: 70%;
}

.linha-mensagem_usuario div {
    max-width: 70%; 
}  
.linha-mensagem_sistema div {
    max-width: 40%; 
}


.contatos.contatos-ativo{
    width: 100%;
}
