
header{
    display: flex;
   
    height: 100px;
}
header img{
    height: 100px;
}
header form{
    margin: 0 2vw;
}

header form input[type=text]{
width: 24.2vw;
max-width: 400px;
outline: pink;
height: 40px;
border:0;
}

header input:focus + button{
  
    border-left: 0;
    height: 40px;
    width: 40px;

}

header form button{
    background-color: white;
    border: 0;
    height: 40px;
    width: 40px;
    outline: none;
    cursor: pointer;
}

header form button i.icone-pesquisa{

    height: 35px;
    width: 35px;

    background-size: 1090px;
    background-position: -139px -0px ;

}
header i.icone-user{

    margin:0 15px;

}

nav.menu{
    height: 100px;  
}

nav.menu > ul{
    display: flex;
    height: 100px;


}

nav.menu > ul > li{
    display: flex;
    
}


nav.menu > ul > li > a > i{
   
    top:8px;
    margin: 0 auto; 
    height: 35px;
    width: 35px;
    background-size: 1080px;
   
 
 
 }
 
 nav.menu > ul > li > a > i.icone-reclamacao{
    background-position: -34px -1.6px;
 
 }
 nav.menu ul li a i.icone-notificacao{
     background-position: -68px -1.6px;
 }
 nav.menu ul li a i.icone-debate{
     background-position: -102px -1.6px;
     
 }


 nav.menu > ul > li > a > i > span{

    margin: -7px 14px 0px -3px;
}


nav.menu > ul > li > a{


font-weight: 500;
color:white;
padding: 0 6px;

line-height: 100px;
}

nav.menu > ul > li > a:hover{
background-color: purple
}


.user-menu .fechar{
    
    color: aliceblue;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left:calc(480px - 80px);
    z-index: 2;
}

.user-menu .fechar{
    
    color: aliceblue;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left:calc(480px - 80px);
    z-index: 2;
}


/*notificacoes*/
.notificacoes{
    top: 100px;
}
.notificacoes.ativo{
    height: 50vh;
}


/*NÃO ALTERAR NADA DAQUI PARA CIMA*/

/*pag todos debates*/

#container{
    background-color: #E7E8EB;
}

.criar-debate {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center
}

.criar-debate div {
    
    padding-right: 15px;
    height: 65px;
    width: 84%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.criar-debate p{
    width: 80%;
    height: 100%;
    margin-left: 10px;
    font-family: Arial;
    font-size: 18px;
    display: flex;
    align-items: center;
}
 .criar-debate i{
     background-size: 1870px;
     background-position: -728px -1.6px;
     width:60px;
     height: 65px;
     position: relative;
     display: flex;
     margin-left: 5px;
 }

 .criar-debate a{
     background-color: darkslateblue;
     color:white;
     width: 130px;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-grow: 18%;
     
 }

 .item-debate{
     background-color: white;
     width: 340px;
     height: 320px;
     border-radius: 4%;
     margin-top: 10px;
     margin-bottom: 100px;
     display: inline-block;
     margin-left: 10px;
     
 }

.item-debate .item-topo{
   
    display: flex;
    align-items: center;
    padding: 4px;
}

 .item-debate .item-topo div{
  display: inline-block;
   width: 45px;
   height: 45px;
   overflow: hidden;
   border-radius: 50%;
     
 } 

 

 .item-debate .item-topo p{
    display: inline-block;
    
    margin-left: 4px;
    font-size: 11px;
    font-weight: 600;
    margin-right: 66px;
 }

 .item-debate .item-topo span{
     display: block;
     font-family: Open-Sans-Bold;
     display: block;
     font-size: 15px;
     
     
 }
 
 .item-debate .item-topo img{
    height: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
 }

.item-debate figure{
     overflow: hidden;
     width: 340px;
     height: 250px;
}

.item-debate figure img{
    align-self: center;
    height: 540px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
    background-color: blueviolet
}

 .item-debate > p{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    width: 100%;
    height: 50px;
    background-color: rgba(000,000,000, 0.6);
    color: #E7E8EB;
    margin-top: -50px;
    position: relative;
   

 }

 .alinha-item{
     display: flex;
     flex-flow: row wrap;
     justify-content: space-around;
     width: 80%;
     align-content: stretch;
     margin-left: 10%;
     
     
 }

 /*pag todas reclamacoes*/

#container{
    background-color: #E7E8EB;
}

.criar-publicacao {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center
}

.criar-publicacao div {
    
    padding-right: 15px;
    height: 65px;
    width: 84%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.criar-publicacao p{
    width: 80%;
    height: 100%;
    margin-left: 10px;
    font-family: Arial;
    font-size: 18px;
    display: flex;
    align-items: center;
}
 .criar-publicacao i{
     background-size: 1870px;
     background-position: -728px -1.6px;
     width:60px;
     height: 65px;
     position: relative;
     display: flex;
     margin-left: 5px;
 }

 .criar-publicacao a{
     background-color: darkslateblue;
     color:white;
     width: 130px;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 14px;
     
 }

 .item-publicacao{
     background-color: white;
     width: 340px;
     height: 330px;
     border-radius: 4%;
     margin-top: 10px;
     margin-bottom: 100px;
     display: inline-block;
     margin-left: 10px;
     
 }

.item-publicacao .item-topo{
   
    display: flex;
    align-items: center;
    padding: 4px;
    justify-content: space-around;
}

 .item-publicacao .item-topo div{
  display: inline-block;
   width: 45px;
   height: 45px;
   overflow: hidden;
   border-radius: 50%;
     
 } 

 

 .item-publicacao .item-topo p{
    display: inline-block;
    
    margin-left: 4px;
    font-size: 11px;
    font-weight: 600;
    margin-right: 66px;
 }

 .item-publicacao .item-topo span{
     display: block;
     font-family: Open-Sans-Bold;
     display: block;
     font-size: 15px;
     
     
 }
 
 .item-publicacao .item-topo img{
    height: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
 }

.item-publicacao figure{
     overflow: hidden;
     width: 340px;
     height: 200px;
}

.item-publicacao figure img{
    align-self: center;
    height: 540px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
    background-color: blueviolet
}

 .item-publicacao > p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 17px;
    width: 100%;
    height: 30px;
    margin-left: 5px;
    position: relative;
    font-family: arial;
    font-weight: bold;
 }

 .item-baixo{
     width: 340px;
     height: 40px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 15px;
     font-family: arial;
 }
 .item-baixo p{
    font-size: 17px;
    font-family: arial;
    display: flex;
    align-items: flex-end;
    width: 70%;
    height: 100%;
}

 .item-baixo span{
     font-family: arial;
     font-size: 20px;
     display: flex;
     align-items: flex-start;
     color: #2E2E2E;
     
 }
 .item-baixo div{
     display: flex;
    align-items: baseline;
    justify-content: space-between;
 }
 .item-baixo i{
     width: 35px;
     height: 30px;
 }

 .item-baixo .icone-like{
     background-size: 1200px;
     background-position: -543px -1.6px;
 }

 .item-baixo .icone-comentario{
    background-size: 1200px;
    background-position: -697px -1.6px;
}

.item-baixo .icone-local{
    background-size: 1200px;
    background-position: -310px -1.6px;
}

/*pag admin*/

/*filtro*/


.filtro-admin i, h3{
    display: none;
}


/*tabela admin*/

.tabelinha-admin table td p {
    width: 250px;
}

/*pag reclamaçao*/

.Reclamacao{
    width: 40%;
}

.Reclamacao .publicacao-topo-aberta{
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    padding: 4px;
    justify-content: space-around;
    border-bottom: 1px solid #2E2E2E;
}

.Reclamacao .publicacao-conteudo{
    width: 90%;
    margin: 0 auto;
}

.Reclamacao .publicacao-conteudo p{
    font-size: 13px;

}

.Reclamacao .publicacao-topo-aberta div{
  display: inline-block;
   width: 45px;
   height: 45px;
   overflow: hidden;
   border-radius: 50%;
     
 } 

 

 .Reclamacao .publicacao-topo-aberta p{
    display: inline-block;
    flex-grow: 1;
    margin-left: 4px;
    font-size: 11px;
    font-weight: 600;
    margin-right: 66px;
 }

 .Reclamacao .publicacao-topo-aberta span{
     display: block;
     font-family: Open-Sans-Bold;
     display: block;
     font-size: 15px;
     
     
 }
 
 .Reclamacao .publicacao-topo-aberta img{
    height: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
 }

 .img-publicacao{
     width: 40%;
     background-color: crimson;
 }

.img-publicacao figure{
    overflow: hidden;
    width: 500px;
    height: 350px;
}

.pag-reclamacao{
    display: flex;
    justify-content: center;
}

.img-publicacao figure img{
    align-self: center;
    height: 680px;
    position: relative;
    top: 50%;
    left: 46%;
    transform: translateX(-50%) translateY(-40%);
    background-color: blueviolet
}

.img-publicacao .item-baixo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: 100%;
    height: 50px;
    background-color: rgba(000,000,000, 0.6);
    color: #E7E8EB;
    margin-top: -50px;
    position: relative;
   

 }

 .img-publicacao .item-baixo i{
     margin-bottom: 10px;
 }

 .img-publicacao .item-baixo p{
    font-size: 17px;
    font-family: arial;
    display: flex;
    align-items: center;
    width: 80%;
    height: 100%;

}

.baixo-publicacao{
    margin: 0 auto;
    margin-top: 10px;
    background-color: rgb(214, 210, 214);
    border-top: 2px solid #2E2E2E;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.baixo-publicacao div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.baixo-publicacao div img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.baixo-publicacao span{
    display: block;
    font-family: Open-Sans-Bold;
    display: block;
    font-size: 15px;
    
    
}

.baixo-publicacao p{
    font-family: arial;
    font-size: 13px;
    
}

.baixo-publicacao .conteudo-resposta p{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 10px;
    font-size:14px;
    font-family: arial;
}
 .baixo-publicacao .barra-curtir-publicacao{
     background-color: white;
     width: 100%;
     border-top: 2px solid #2E2E2E;
     border-bottom: 2px solid #2E2E2E;
     display: flex;
    justify-content: space-around;
 } 
 .baixo-publicacao .barra-curtir-publicacao div{
    
    margin: 0 auto;
    width: 50%;
    font-family: arial;
   font-weight: 700;
   font-size: 19px;
} 

.baixo-publicacao form{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width:100%;
    justify-content: center;
}

.baixo-publicacao form textarea{
    margin: 0 auto;
    width: 50%;
    height: 100px;

}