header{
    height: 60px;
}
header img{
    height: 60px;
}
header form{
    width: 60%;
    justify-content: center;
}

header form input[type=text]{
width: 60%;
min-width: 129px;
outline: white;
height: 35px;
border:0;
}

/* header form input:focus{
border: 3px solid pink;
border-right: 0;
} */

/* header input:focus + button{
    border: 3px solid pink;
    border-left: 0;
    height: 35px;
    width: 28px;

} */

header form button{
    
    border: 0;
    height: 35px;
    width: 35px;
    outline: none;
    cursor: pointer;
}

header form button i.icone-pesquisa{

    height: 28px;
    width: 28px;

    background-size: 950px;
    background-position: -123.9px -2px ;
}
header i.icone-user{
  
margin:0 30px;
width: 35px;
height: 35px;

background-size: 1060px;

}

nav.menu{
    display: flex;
    justify-content: center;
    background-color: #0086ff;
    width: 100vw;
    position: fixed;
    /* top: calc(100vh - 60px); */
    height: 60px;
    bottom: 0
}
nav.menu > ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100vw;

}

nav.menu > ul > li{
    display: flex;
    justify-content: center;
    text-align: center;
}
nav.menu > ul > li > a > i{
   display: block;
   margin: 0 auto; 
}

nav.menu > ul > li > a{
    font-weight: inherit;
    color:#fcfcfc;
    width: calc(var(--ajuste)/3);
    line-height: inherit;
}

nav.menu > ul > li > a:hover i{
    background-position-y: -41.1px;
}


.user-menu .fechar{
    
    color: aliceblue;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left:calc(480px - 80px);
    z-index: 2;
}

/*notificacoes*/

.notificacoes ul::-webkit-scrollbar{
    display:none
}
nav.notificacoes{
    
    bottom: 60px;
    right: 0;
    
    width: 100vw;
  
}


nav.notificacoes ul{
    width: calc(100vw + 30px);
    height: calc(100vh - 95px);
    margin-right: -10px;
    padding-right: 3px;
    text-align: start;
}

nav.notificacoes ul li a{
width: 100vw;
}

.notificacoes.ativo{
    height: calc(100vh - 60px);
}

/*NÃO ALTERAR NADA DAQUI PARA CIMA*/

.perfil-base{
   background-color: white;
   padding-bottom: 90px
}


.perfil{
    height: 260px;
    justify-content: center;
}

#trocar-capa{
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 229px
   
}

.perfil > img{
    /* height: 56.23vw;
    max-height: 774px; */
}


.perfil-info{
    margin-top: 150px;
    align-items: center;
    flex-direction: column-reverse;
    right:0px;
    left: 0
 
    
}

.perfil-info div{
    height: 150px;
    width: 150px;
    border: 6px solid white;
    
}

.perfil-info img{
    height: 135%;
}

.perfil-info p{
  
   
    text-align: center;
    font-size: 1.8rem;
    color: black;
    margin: 0px auto 0 auto;
}

.perfil-info span{
   color: black;
    font-size: 1em;
    margin: 0px auto 0 auto;
    text-align: center
}

.perfil-info i{
    position: absolute;
    
    margin-top: 40px;
    left: 160px;
}



.perfil-base h3{
    position: absolute;
    color: aliceblue;
    font-size: 29px;
    margin: 10px 0;
    text-align: center;
    width: 100%;
    z-index: 1;
    }

       
/*pag todos debates*/


.criar-publicacao div{
    padding: 10px
}
.criar-publicacao p{
    font-size: 16px;
}
 .criar-publicacao i{
     display: block;
     background-size: inherit;
     background-position: -480px -5.6px;
     width:50px;
     height:30px;
 }

 .criar-publicacao a{
    
    width: 135px;
    
    font-size: 13px;
    text-align: center;

 }
.item-publicacao{
    width: 340px;
}

.alinha-item{
   
    width: 100%;
    flex-flow: column wrap;
    align-items: center;

}
/*pag todoas reclamacoes*/

.formulario{
    flex-direction: column;
    align-items: center; 
    padding: 0 0 70px 0;
}


.formulario h3{
    font-size: 16px;
    
}

.formulario hr{
   
    border: 2px solid purple;
    position: relative;
    bottom: 10px
}
.formulario .campo-envio{
    width: 80%;
    margin: 0 auto
}
.informacoes{
    width: 100%;
    }
.informacoes hr{
    margin-top: 13px;
    width: 40%;
    margin:13px auto 0 auto;

}

.informacoes label{
    font-size: 15px;
    padding: 13px 0px;
}

.informacoes input{
    font-size: 15px;
}

.informacoes h3{
    margin-top: 5%;
   
}
    
.imagem{
    width: 100%;
    }

.imagem h3{
    margin-top: 13px;
    
    }
.imagem hr{
    width: 50%;
    margin:13px auto 0 auto;;
}


.campo-texto{   
    width: 100%;
    text-align: center;   
}

.form-icone section{
    
    align-items: baseline
}


.form-icone section > div{
    width: 100%;
    display: block;
    text-align: center;
    margin:  auto;
   
    margin-bottom: 10px;


}
.form-icone section h1{
    
    font-size: 30px;
    
}

.form-icone section h1 ~ p{
 
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-shadow: 1px 1px 1px black
    
}

.campo-texto h3{
    margin-top: 13px;
    width: 70%;
    margin:13px auto 0 auto;
}

.form-icone form{
    position: initial;
    width:300px;
    height: 280px;
    margin: 0;
    
   
}

.form-icone form h3{
    width: 213px;
    
}


.form-icone form button{
   
    padding:10px;
    margin-top: 40px;
    width: 80%;
    font-weight:800;
    
}

.form-config{
    padding-bottom: 70px
}

.form-config .campo-texto-config label{
    font-size: .85em;
}

.form-config h3{
font-size: 1.1em;
}

/*DEBATES*/

.usuarios-debate-info{
    position: absolute;
    right: 0;
    width: 0;
    max-width: 100%;
    
   
}

.usuarios-debate-info > span{
    left: 90%;
}

.contatos{
    position: absolute;
    width: 0;
    right: 0;
    background-color: white;
    overflow: hidden;
    order: 2;
   transition: 0.5s;
    max-width: 100%;
    min-width: 0;
    display: block
}



.contatos nav{
    height: calc(100vh - 60px);
}

.contatos header p{
    display:block
}

.contatos header h3{
    white-space: nowrap
}


.batepapo header h4{
    font-size: 15px
}

.batepapo .ft_debate-mensagem{
    width: 50px;
    height: 50px;
}

.mensagens{
    height: calc(100vh - 120px);
}

.mensagem_padrao span.nome{
   
    font-size: .95em;
}

.mensagem_padrao span.nome{
    
    font-size: .95em;
}
.mensagem_padrao {  /*POR CAUSA DO NOME TA BUGANDO*/
    max-width: 70%;
}

.linha-mensagem_usuario div {
    max-width: 70%; 
}  
.linha-mensagem_sistema div {
    max-width: 40%; 
}


.contatos.contatos-ativo{
    width: 100%;
}
.item-baixo .icone-local{
   background-size: 1200px;
   background-position: -310px -1.6px;
}



/*tabela admin*/

.filtro-admin div{
    padding-right: 0px;
   
}


.tabelinha-admin table td p {
    width: 130px; 
}

/*PAG RECLAMAÇAO*/

.pag-reclamacao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Reclamacao{
    width: 100%;
}

.Reclamacao .publicacao-conteudo div{ 
    overflow: initial;
    width: 100%;
    
}

.Reclamacao .publicacao-conteudo p{
 overflow-y: initial;
 padding-right: 0px;
 height: 100%; 
}

.Reclamacao .publicacao-conteudo div:after{
    display: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #1d1d1d 50%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: ".";
    width: 100%;
    position: relative;
    bottom: 24px;
    height: 50px;
    color: #1d1d1d
}

.img-publicacao{
    width: 90%;
    background-color: orange
}

.img-publicacao figure{
    width: 100%;
}


.img-publicacao figure img{
    height: 250%;
    background-color: red
 }

 .img-publicacao .item-baixo-publicacao{
     height: 60px;
     margin-top: -60px;
}
.enviar-comentario-publicacao{
    width: 100%;
    padding: 20px;
    margin: 0 auto
}
.comentarios{
    width: 100%;
    padding: 20px;
    padding-bottom:100px
}

.prefeitura-publicacao .topo-prefeitura-publicacao{

    justify-content: flex-start;
   margin-left: 20px
}

.topo-prefeitura-publicacao span:first-child{
    max-width: 200px;
  
     
     
 }
 

 .prefeitura-publicacao .conteudo-resposta span{
}

.pag-debate{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center
}


.debate{
    width: 100%;
    
    
}
.debate-publicacao{
    width: 90%;
}

.publicacao-conteudo-debate{
    overflow: hidden;
    
    width: 90%;
    height: 300px;
    margin: 0 auto;
   
}

.debate-publicacao a{
    margin-bottom:60px 
}
.debate-publicacao h3 ~ div:first-of-type{
overflow: inherit
}

.debate-publicacao h3 ~ div:first-of-type::after{
    display: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #1d1d1d 50%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: ".";
    width: 100%;
    position: relative;
    bottom: 24px;
    height: 50px;
    color: #1d1d1d;
    margin-bottom: -24px
    
}
.debate-publicacao div:nth-child(2) p{
    font-size: 13px;
    overflow-y: inherit;
    width:100%;
    height: inherit;
    padding-right: 17px;
    padding-bottom: 15px
}

.landing-dobra h1{
    width: 100%;
    text-align: center;
    top: 10%;
    left:50%;
    transform: translateX(-50%);
}

.landing-dobra div{
    top: 90px;
    left:50%;
    transform: translateX(-50%);
    width: 450px;
    align-items: center
}


.landing-funcionalidades{
    flex-direction: column
}

.landing-item{
    width: 100%;
}


.landing-prefeitura h1{
    width: 100%;
    text-align: center;
    color:white;
    position: absolute;
    top: 30%;
    left:50%;
    transform: translateX(-50%)
}

.landing-prefeitura p{
    color:white;
    position: absolute;
    top: 40%;
    left:50%;
    transform: translateX(-50%);
}

.landing-rodape h1{
    font-size: 19px
}


.mini-menu-adm ul li{

}

.mini-menu-adm ul li a{
    padding: 10px;
}


