
header{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
   
}
header img{
    height: 50px;
    
}
header form{
   
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
   
}

header form input[type=text]{
width: 90%;
min-width: 129px;
outline: white;
height: 28px;
border:0;


}

header form input:focus{

border-right: 0;
}



header form button{
    background-color: white;
    border: 0;
    height: 28px;
    width: 28px;
    outline: none;
    cursor: pointer;
}

header form button i.icone-pesquisa{
    height: 28px;
    width: 28px;

    background-size: 950px;
    background-position: -123.9px -2px ;
}
header i.icone-user{
  
margin:0 10px;
width: 30px;
height: 30px;

background-size: 950px;

}
nav.menu{
    display: flex;
    justify-content: center;
    background-color: #011627;
    width: 100vw;
    position: fixed;
    top: calc(100vh - 50px);
    height: 50px;
}
nav.menu >ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100vw;

}

nav.menu > ul > li{
    display: flex;
    justify-content: center;
    text-align: center;
}
nav.menu > ul > li > a > i{
   display: block;
   margin: 0 auto; 
   width: 30px;
   height: 30px;
   background-size: 980px;
 

}

nav.menu > ul li > a > i.icone-reclamacao{
    background-position: -32.5px -1.6px;
    }
    
    
    nav.menu ul li a i.icone-notificacao{
        background-position: -65px -1.6px;
    }
    
    nav.menu ul li a i.icone-debate{
        background-position: -96px -1.6px;
    }
    
    nav.menu > ul > li > a > i > span{
    
        margin: -7px 14px 0px -5px;
    }
    

nav.menu > ul > li > a{
color:white;
width: calc(var(--ajuste)/3);
font-size:0.9rem;
}

nav.menu > ul > li > a:hover{
background-color: purple
}


nav.menu > ul > li > a > i > span{
    width: 20px;
    height: 20px;
    margin: 0px 14px 0px 15px;
}

.user-menu > .fechar{
    
    color: aliceblue;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left:calc(100vw - 45px);
    z-index: 2;
}

/*notificações*/

.notificacoes ul::-webkit-scrollbar{
    display:none
}

nav.notificacoes{
   
    width: 100vw;
    bottom: 50px;
    right: 0;
    
    width: 100vw;
   
}


nav.notificacoes ul{
    
    
    width: calc(100vw + 20px);
    height: calc(100vh - 150px);
    margin-right: -10px;
    padding-right: 3px;
    text-align: start
}

nav.notificacoes ul li a{
width: 100vw;
}

.notificacoes.ativo{
    height: calc(100vh - 100px);
}

/*NÃO ALTERAR NADA DAQUI PARA CIMA*/

/*///////////////////////////////BLOCO PRINCIPAL////////////////////////////////////*/
.formulario{
    width: 90%;
    margin: 0 auto;
    height: 600px;
    flex-direction: column;
    }

/*/////////////////////////////TITULO E TEMA//////////////////////////////////////*/

.informacoes{
    width: 100%;
    height: 50%;
    display: block;
    
    }

.informacoes h3{
    text-align: center;
}

.informacoes hr{
    border: 0,3px solid black;
    margin-top: 4%
    
}

.campo-envio{
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}


.campo-envio input{
    outline: none;
    padding: 10px 20px;
    width: 100%;
    border: none;
    font-size: 16px;
}

.campo-envio input:focus + span{
width: 100%
}
.campo-envio label{
    text-align: start;
    font: 16px arial;
    color: rgb(20, 20, 20);
    display: block;
    padding: 15px 0px;
    margin-top: 5%
}

.campo-envio span{
    display:inline-block;
    width:0px;
    height: 2px;
    background: #000;
    position: relative;
    top:1px;
    transition: all ease-in-out .2s;
}



/*/////////////////////////////ENVIAR IMG//////////////////////////////////////*/

.imagem{
    width: 100%;
    height: 50%;
}

.imagem h3{
    text-align: center;
}

.imagem hr{
    border: 0,3px solid black;
    margin-top: 4%
}

.envio-img{
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 5%;
}

.envio-img input{
    position: absolute;
    margin-top: -20px;
    width: 30%;
    height: 20%;
    cursor: pointer;
    padding: 7% 4%;
    border: 2px solid black;

    
    
}

/*//////////////////////////////CAMPO "SOBRE"/////////////////////////////////////*/

.campo-texto{   
    width: 100%;
    text-align: center;

}
.linha{
    border: 0,3px solid black;
    margin: 10px 0;  
    background: #011627
}

.campo-texto h3{
    display: flex;
    justify-content: center;   
}

.campo-texto textarea{
    width: 200px;
    height: 100px;
    font: 16px arial;
    margin-top: 25px;
    resize: none
}


.campo-texto input[type="submit"]{
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
  
}

.campo-texto input:hover{
    background: #011627;
    color: white;
}

/* FORMULARIO CATEGORIAS */

form input[type="radio"]{
    display:  none;
}

form .categorias{
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

form .categorias div{
  
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
}

form .categorias div label{
    background-color: gray;
    padding: 29px 25px;

}

form .categorias div label i{
   
    display: block;
    text-align: center;
    margin: 0 auto;
}

form input[type="radio"]:checked + label{
background-color: pink;
}