<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="default.css" />

</head>
<body>
    <i class="icone-user"></i>
    <i class="icone-reclamacao"></i>
    <i class="icone-notificacao"></i>
    <i class="icone-debate"></i>
    <i class="icone-pesquisa"></i>
    <i class="icone-grupo"></i>
    <i class="icone-salvar-full"></i>
    <i class="icone-salvar"></i>
    <i class="icone-local"></i>
    <i class="icone-mail"></i>
    <i class="icone-3pontos"></i>
    <i class="icone-edit-full"></i>
    <i class="icone-edit"></i>
    <i class="icone-lapis"></i>
    <i class="icone-like"></i>
    <i class="icone-like-full"></i>
    <i class="icone-olho"></i>
    <i class="icone-olho-fechado"></i>
    <i class="icone-comentario-full"></i>
    <i class="icone-comentario"></i>
    <i class="icone-camera"></i>
    <i class="icone-upload"></i>
    <i class="icone-senha"></i>
    <i class="icone-filtro"></i>
    <i class="icone-config"></i>
    <i class="icone-bandeira"></i>
    <i class="icone-adm"></i>
    <i class="icone-fechar"></i>
    <i class="icone-prefeitura"></i>
    <i class="icone-categoria-debate"></i>
    <i class="icone-logout"></i>
    <h1>Meu consagrado</h1>
    <p>CARALHOOOOOOOOOOOOO que fonte linda</p>
    <a href="icone-adm" >verdade</a>
</body>
</html>