<!DOCTYPE html>
<html lang=pt-br>
<head>
    <title>S.O.S Cidadão</title>
    
    <meta charset=UTF-8> <!-- ISO-8859-1 -->
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <meta name=description content="Site de reclamações para a cidade de Barueri">
    <meta name=keywords content="Reclamação, Barueri"> <!-- Opcional -->
    <meta name=author content='equipe 4 INI3A'>
    
    <!-- favicon, arquivo de imagem podendo ser 8x8 - 16x16 - 32x32px com extensão .ico -->
    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
    
    <!-- CSS PADRÃO -->
    <link href="css/default.css" rel=stylesheet>
    
    <!-- Telas Responsivas -->
    <link rel=stylesheet media="screen and (max-width:480px)" href="css/style480.css">
    <link rel=stylesheet media="screen and (min-width:481px) and (max-width:768px)" href="css/style768.css">
    <link rel=stylesheet media="screen and (min-width:769px) and (max-width:1024px)" href="css/style1024.css">
    <link rel=stylesheet media="screen and (min-width:1025px)" href="css/style1025.css">
    
    <!-- JS-->
    
    <script src="lib/_jquery/jquery.js"></script>
    <script src="js/js.js"></script>
    
</head>
<body>
    <header>
        <img src="imagens/Ativo2.png" alt="logo">
        <form>
            <input type="text" name="pesquisa" id="pesquisa" placeholder="Pesquisar">
            <button type="submit"><i class="icone-pesquisa"></i></button>
        </form>
        <nav class="menu">
            <ul>
                <li><nav class="notificacoes">
                    <h3>notificações</h3>
                    <ul>
                        <li>
                            <a href="#">
                                <div><i class="icone-comentario"></i></div>
                                <span class="">
                                    <span class="negrito">Corno do seu pai</span> , <span class="negrito">Rogerinho</span><span> E outras 4 pessoas comentaram na sua publicação</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icone-like-full"></i></div>
                                <span class="">
                                    <span class="negrito">Corno do seu pai</span> , <span class="negrito">Rogerinho</span><span> E outras 4 pessoas curtiram sua publicação aaaaaaaaaaaaaaaaaaa</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icone-mail"></i></div>
                                <span class="">
                                    A <span class="negrito">prefeitura </span>respondeu sua publicação:"associação dos cadeirantes de Barueri" aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icone-mail"></i></div>
                                <span class="">
                                    A <span class="negrito">prefeitura </span>respondeu sua publicação:"associação dos cadeirantes de Barueri"</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icone-mail"></i></div>
                                <span class="">
                                    A <span class="negrito">prefeitura </span>respondeu sua publicação:"associação dos cadeirantes de Barueri"</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icone-mail"></i></div>
                                <span class="">
                                    A <span class="negrito">prefeitura </span>respondeu sua publicação:"associação dos cadeirantes de Barueri"</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icone-mail"></i></div>
                                <span class="">
                                    A <span class="negrito">prefeitura </span>respondeu sua publicação:"cortaram meu pau por acidente no SAMEB era só marca de batom quero meu pau de voltaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><i class="icone-mail"></i></div>
                                <span class="">
                                    A <span class="negrito">prefeitura </span>respondeu sua publicação:"quero café"</span>
                                </span>
                            </a>
                        </li>
                        <li>
                        </ul>
                    </nav><a href="#" id="abrir-not"><i class="icone-notificacao"><span>99+</span></i>Notificações</a></li>
                    <li><a href="#"><i class="icone-reclamacao"></i>Reclamações</a></li>
                    <li><a href="#"><i class="icone-debate"></i>Debates</a></li>
                </ul>
            </nav>
            <i class="icone-user" id="abrir"></i>
        </header>
        <div class="user-menu">
            <a href="javascript:void(0)" class="fechar">&times;</a>
            <div class="mini-perfil">
                <div>    
                    <img src="imagens/perfil.jpg" alt="perfil">
                </div>    
                <img src="imagens/capa.png" alt="capa">
                <p>Pericles</p>
            </div>
            <nav>
                <ul>
                    <li><a href="#"><i class="icone-user"></i>Meu perfil</a></li>
                    <li><a href="#"><i class="icone-salvar"></i>Salvos</a></li>
                    <hr>
                    <li><a href="#"><i class="icone-adm"></i>Area de administrador</a></li>
                    <li><a href="#"><i class="icone-salvar"></i>Area da prefeitura </a></li>
                    <hr>
                    <li><a href="#"><i class="icone-config"></i>Configurações</a></li>
                    <li><a href="#"><i class="icone-logout"></i>Log out</a></li>
                </ul>
            </nav>
        </div>
        
        <div id="container">
            
            
            <div class="filtro-admin">
                <i class="icone-filtro "></i>
                <form>
                    <span id="fechar-filtro">&times;</span>
                    <h3>Tipo de Denuncia</h3>
                    <div>
                        <label class="container"> Comentários
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        
                        <label class="container"> Debates 
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        
                        <label class="container"> Reclamações
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        
                    </div>
                    <input type="submit" class="botao-filtro" value="Filtrar">
                </form>
            </div>
            <div class="tabelinha-admin" >
                <table>
                    <tr>
                        <th><p>Denunciado</p></th>
                        <th><p>Tipo</p></th>
                        <th><p>Data</p></th>
                        
                    </tr>  
                    <tr class="tabelinha-linha">                      
                    <td><p>Jão de Barru</p></td>
                    <td>
                        <p>Reclamação</p>
                        <div class="mini-menu-adm">
                            <ul>
                                <li><a href="#" class="motivo-ativar">Motivo</a></li>
                                <li><a href="#">Visitar página</a></li>
                                <li><a href="#">Remover reclamação</a></li>
                                <li><a href="#">Bloquear usuário</a></li>
                            </ul>
                            
                        </div>
                        <div class="motivo">
                            <div class="motivo-box">
                                <div>
                                    <h1>Motivo</h1>
                                    <span class="fechar-motivo">&times;</span>
                                </div>
                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, inventore enim? Odit atque, ea velit quia error animi vel necessitatibus, reprehenderit a impedit vero quo? Eveniet laborum quis labore placeat!</span>
                            </div>
                        </div>
                    </td>
                    <td><p>20/06/2018</p></td>
                </tr>
                
                <tr class="tabelinha-linha">
                    <td><p>Periclão</p></td>
                    <td>
                        <p>Reclamação</p>
                        <div class="mini-menu-adm">
                            <ul>
                                <li><a href="#" class="motivo-ativar">Motivo</a></li>
                                <li><a href="#">Visitar página</a></li>
                                <li><a href="#">Remover reclamação</a></li>
                                <li><a href="#">Bloquear usuário</a></li>
                            </ul>
                            
                        </div>
                        <div class="motivo">
                            <div class="motivo-box">
                                <div>
                                    <h1>Motivo</h1>
                                    <span class="fechar-motivo">&times;</span>
                                </div>
                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, inventore enim? Odit atque, ea velit quia error animi vel necessitatibus, reprehenderit a impedit vero quo? Eveniet laborum quis labore placeat!</span>
                            </div>
                        </div>
                    </td>
                    <td><p>20/06/2018</p>
                    </td>
                </tr>
                <tr>
                    <td><p>Aldo Churros</p></td>
                    <td><p>Reclamação</p></td>
                    <td><p>19/06/2018</p></td>
                </tr>
                <tr>
                    <td><p>Cebolinha</p></td>
                    <td><p>Comentário</p></td>
                    <td><p>19/06/2018</p></td>
                </tr>
                <tr>
                    <td><p>Pai de Família</p></td>
                    <td><p>Reclamação</p></td>
                    <td><p>19/06/2018</p></td>
                </tr>
                <tr>
                    <td><p>Jeredy</p></td>
                    <td><p>Reclamação</p></td>
                    <td><p>19/06/2018</p></td>
                </tr>
                <tr>
                    <td><p>Alderto</p></td>
                    <td><p>Comentário</p></td>
                    <td><p>18/06/2018</p></td>
                </tr>
                <tr>
                    <td><p>péricles do exalta samba</p></td>
                    <td><p>Comentário</p></td>
                    <td><p>18/06/2018</p></td>
                </tr>
                <tr>
                    <td><p>jordam</p></td>
                    <td><p>Reclamação</p></td>
                    <td><p>17/06/2018</p></td>
                </tr>
                <tr>
                    <td><p>pedro</p></td>
                    <td><p>Comentário</p></td>
                    <td><p>16/06/2018</p></td>
                </tr>
            </table>
        </div>      
    </div>
</body>
</html>

