<!DOCTYPE html>
<html lang=pt-br>
    <head>
        <title>S.O.S Cidadão</title>

        <meta charset=UTF-8> <!-- ISO-8859-1 -->
        <meta name=viewport content="width=device-width, initial-scale=1.0">
        <meta name=description content="Site de reclamações para a cidade de Barueri">
        <meta name=keywords content="Reclamação, Barueri"> <!-- Opcional -->
        <meta name=author content='equipe 4 INI3A'>

        <!-- favicon, arquivo de imagem podendo ser 8x8 - 16x16 - 32x32px com extensão .ico -->
        <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">

        <!-- CSS PADRÃO -->
        <link href="css/default.css" rel=stylesheet>

        <!-- Telas Responsivas -->
        <link rel=stylesheet media="screen and (max-width:480px)" href="css/style480.css">
        <link rel=stylesheet media="screen and (min-width:481px) and (max-width:768px)" href="css/style768.css">
        <link rel=stylesheet media="screen and (min-width:769px) and (max-width:1024px)" href="css/style1024.css">
        <link rel=stylesheet media="screen and (min-width:1025px)" href="css/style1025.css">

        <!-- JS-->

        <script src="lib/_jquery/jquery.js"></script>
        <script src="js/js.js"></script>

    </head>
    <body>
        

        <div id="container">
            
           <div class="contatos">
                <header class="">
                    <h3>Suas conversas</h3>
                    <i class="icone-3pontos"></i>
                </header>
                <ul>
                    <li>
                        <div class="img-debate">
                            <img src="imagens/RECLAMATION.png" alt="debate">
                        </div>
                        <div class="status-debate">
                            <p>Como assim cadeiranteeeeeeeeee</p>
                        </div>
                    </li>
                    <li>
                        <div class="img-debate">
                            <img src="imagens/RECLAMATION.png" alt="debate">
                        </div>
                        <div class="status-debate">
                            <p>Como assim cadeiranteeeeeeeeee</p>
                        </div>
                    </li>
                    <li>
                        <div class="img-debate">
                            <img src="imagens/RECLAMATION.png" alt="debate">
                        </div>
                        <div class="status-debate">
                            <p>Como assim cadeiranteeeeeeeeee</p>
                        </div>
                    </li>  
                    <li>
                        <div class="img-debate">
                            <img src="imagens/RECLAMATION.png" alt="debate">
                        </div>
                        <div class="status-debate">
                            <p>Como assim cadeiranteeeeeeeeee</p>
                        </div>
                    </li> 
                    <li>
                            <div class="img-debate">
                                <img src="imagens/RECLAMATION.png" alt="debate">
                            </div>
                            <div class="status-debate">
                                <p>Como assim cadeiranteeeeeeeeee</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-debate">
                                <img src="imagens/RECLAMATION.png" alt="debate">
                            </div>
                            <div class="status-debate">
                                <p>Como assim cadeiranteeeeeeeeee</p>
                            </div>
                        </li>
                        <li>
                            <div class="img-debate">
                                <img src="imagens/RECLAMATION.png" alt="debate">
                            </div>
                            <div class="status-debate">
                                <p>Como assim cadeiranteeeeeeeeee</p>
                            </div>
                        </li>  
                        <li>
                            <div class="img-debate">
                                <img src="imagens/RECLAMATION.png" alt="debate">
                            </div>
                            <div class="status-debate">
                                <p>Como assim cadeiranteeeeeeeeee</p>
                            </div>
                        </li>
                        <li>
                                <div class="img-debate">
                                    <img src="imagens/RECLAMATION.png" alt="debate">
                                </div>
                                <div class="status-debate">
                                    <p>Como assim cadeiranteeeeeeeeee</p>
                                </div>
                            </li>
                            <li>
                                <div class="img-debate">
                                    <img src="imagens/RECLAMATION.png" alt="debate">
                                </div>
                                <div class="status-debate">
                                    <p>Como assim cadeiranteeeeeeeeee</p>
                                </div>
                            </li>
                            <li>
                                <div class="img-debate">
                                    <img src="imagens/RECLAMATION.png" alt="debate">
                                </div>
                                <div class="status-debate">
                                    <p>Como assim cadeiranteeeeeeeeee</p>
                                </div>
                            </li>  
                            <li>
                                <div class="img-debate">
                                    <img src="imagens/RECLAMATION.png" alt="debate">
                                </div>
                                <div class="status-debate">
                                    <p>Como assim cadeiranteeeeeeeeee</p>
                                </div>
                            </li>
                </ul>
           </div>
        </div>
    </body>
</html>
 