<!DOCTYPE html>
<html lang=pt-br>
    <head>
        <title>eoq</title>

        <meta charset="UTF-8"> <!-- ISO-8859-1 -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content=" ">
        <meta name="keywords" content=" "> <!-- Opcional -->
        <meta name="author" content="">

        <!-- favicon, arquivo de imagem podendo ser 8x8 - 16x16 - 32x32px com extensão .ico -->
        <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">

        <!-- CSS PADRÃO -->
        <link href="css/default.css" rel=stylesheet>

        <!-- Telas Responsivas -->
        <link rel=stylesheet media="screen and (max-width:480px)" href="css/style480.css">
        <link rel=stylesheet media="screen and (min-width:481px) and (max-width:768px)" href="css/style768.css">
        <link rel=stylesheet media="screen and (min-width:769px) and (max-width:1024px)" href="css/style1024.css">
        <link rel=stylesheet media="screen and (min-width:1025px)" href="css/style1025.css">

        <!-- JS-->

        <script src="lib/_jquery/jquery.js"></script>
        <script src="js/js.js"></script>
        <!-- Font Awesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

        <!-- cropp-->

        <link rel="stylesheet" href="lib/_croppie-master/croppie.css">
        <script src="lib/_croppie-master/croppie.js"></script>

    </head>
    <body>
        
        <div id="container">

            <div>
                <img class="my-image" src="imagens/capa.png">
                
            </div>

            <input type='button' id='x' value='Save Crop Info' />
            <span id='result'></span>
        
            <div>Results:
                    <div>
                      <img id="results">
                    </div>
                  </div>
                  
                  <div id="width"></div>
                  <div id="height"></div>

            <script>


              var  $uploadCrop = $('.my-image').croppie({
                    enableExif: true,
                    enforceBoundary:true,
                    enableOrientation:true,
                    enableResize:false,

                    viewport: {
                        width: 320,
                        height: 150,
                        
                    },
                    boundary: {
                        width: 420,
                        height: 200
                    },
                   
                });
                
                // $('#x').click(function(){
                //     var d = $uploadCrop.croppie().get();
                    
                //     $('#result').html(JSON.stringify(d));
// });





  $("#x").click(function(){
      $('.my-image').croppie('result', { type: 'html', size: 'original', format: 'png' }).then(function (result) {
        // In production code I double check the size here before passing the image to the server.
        
        $('.my-image').croppie('result', { type: 'base64', size: { width: 720, height: 350 }, format: 'png' }).then(function (result) {
          // The server expects the image as a base64 string, so I then convert it to base64 and pass it via AJAX. The size is wrong at this point.
          
          $('#results').attr('src', result);

          setTimeout(function(){
            $('#width').text("Width: " + $('#results').width() + "px")
            $('#height').text("Height: " + $('#results').height() + "px")
          }, 50);
        });
      });
  });


            </script>
           
                
        </div>
    </body>
</html>
 